.desing{
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
  z-index: 1;
  &__subtitle{
    max-width: 300px;
    text-align: center;
    margin: 0 auto ;
    font: 700 35px / 41px $font;
  }
  &__logo{
    margin-bottom: 30px;
    color: $black;
  }
}
.desing-items{
  margin-bottom: 35px;
  &__item{
    
    &:nth-child(even){
      flex-direction: row-reverse;
      .desing-items__item-text{
        margin-right: auto;
        padding-left: 20px;
      }
      .desing-items__item-box{
        margin-left: 30px;
        &::after{
          left:-10px;
          border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .desing-items__item-img{
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }
    &:nth-child(odd){
      
      .desing-items__item-box{
        margin-right: 30px;
        &::after{
          left:10px;
          border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .desing-items__item-img{
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
    &-box{
      flex-shrink: 0;
      position: relative;
    z-index: 1;
        &::after{
          content:'';
          position: absolute;
          top:0;
          background-color: #4d8515;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
    }
    &-text{
      max-width: 200px;
      font: 400 20px/23px $font;
    }
    &-img{
      display: block;
    }
  }
}