.reviews{
  padding-top: 65px;
  padding-bottom: 60px;
  &__title{
    font:700 35px/ 41px $font;
    margin-bottom: 35px;
  }
}
.slider-reviews{
  padding: 0 20px 40px;
}
.slide{
  background-color: #F0F0F0;
  padding: 16px 30px 35px;
  &-top{
    margin-bottom: 25px;
    &__box{
      width: 135px;
      height: 135px;
      border-radius: 50%;
      margin-right: 17px;
      flex-shrink: 0;
    }
    &__info{
      &-text{
        font:700 16px / 19px $font;
        margin-bottom: 5px;
      }
      &-city{
        color: #CC2F2F;
        font: 400 14px / 16px $font;
        margin-bottom: 5px;
      }
      &-rating{
        max-width: 220px;
      }
    }
  }
  &__text{
    font: 400 18px / 21px $font;
    margin-bottom: 20px;
  }
  &__box{
    justify-content: flex-start;
    width: fit-content;
    &-img{
      min-height: 167px;
      
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
}
.swiper-pagination{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
    background-color: #ffc700;
    opacity: 1;
    &:not(:last-child){
      margin-right: 8px;
    }
  }
  .swiper-pagination-bullet-active{
    background-color: #78AC43;
  }
}